<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="src/bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="php">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <file>src/bootstrap.php</file>
    </include>
  </source>
</phpunit>
